
@model UsersApiExample.Response.BasePaginationResponse<UsersApiExample.Response.UserResponse>?

@{
        ViewData["Title"] = "List of Artists";
  }

    <div class="row">
    <div class="col-md-8 offset-md-2">
    <table class="table ">
        <thead>
                 <tr class="text-center">
                     <th>User Id</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                     <th>Title</th>
                     <th>Picture</th>
                 </tr>
        </thead>
         <tbody>
            @foreach (var user in Model.Data)
            {
                <tr>
                    <td>@user.Id</td>
                    <td><p><a href="/DummyView/Details/id">@user.FirstName</a></p></td>
                    <td>@user.LastName</td>
                    <td>@user.Title</td>
                    <td><img src="@user.Picture" style="min-width:130px" alt="picture" /></td>  
                      
                 </tr>
            }

         </tbody>
    </table>
  </div>
 </div>

@*@{
        ViewData["Title"] = "List of Users";
  }

<h2>Users</h2>
 <div class="row">
    <div class="col m-8 offset-md-2">
    <table class="table ">
        <thead>
 @if (Model is null)
    {
      <h1>None Found</h1>
    }
    else
    {
                    <table>
                <tr class="text-center">
                     <th>User Id</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                     <th>Title</th>
                     <th>Picture</th>
                 </tr>
                 @foreach (var user in Model.Data)
            {
                <tr>
                      <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Title</td>
                    <td><img src="@user.Picture" alt="picture"/></td>
                 </tr>
            } 
     </table>
      }  
                
        </thead>
         <tbody>
          

         </tbody>
    
  </div>
 </div>
   

*@
